LocalAuthorities/data/temp/*
LocalAuthorities/data/postcode-to-LAD/temp/*
LocalAuthorities/data/areas/
vaccines/temp/*
vaccines/data/vaccines-by-STP.csv
vaccines/data/Clinical*
vaccines/data/vaccinations-2*
vaccines/data/vaccinations-MSOA-*
can-you-smell/*
