LocalAuthorities/data/temp/*
LocalAuthorities/data/postcode-to-LAD/temp/*
LocalAuthorities/data/areas/
LocalAuthorities/data/vaccines-by-STP.csv
LocalAuthorities/data/vaccines/temp/*
LocalAuthorities/data/vaccines/CCG*
LocalAuthorities/data/vaccines/Clinical*
LocalAuthorities/data/vaccines/vaccinations-2*
LocalAuthorities/data/vaccines/vaccinations-MSOA-*
can-you-smell/*
