/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1em; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/* apply a natural box layout model to all elements */
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* End of reset */

html, body {
	padding: 0px;
	margin: 0px;
	min-height: 100%!important;
	height: 100%!important;
	background-color: #ffffff;
	font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 1.44em;
}
h1 { font-size: 1.7em; font-weight: 600; }
h2 { font-size: 1.4em; margin-top: 1.4285em; font-weight: 600; }
h3 { font-size: 1.2em; margin-top: 1.666em; }
h1 + p, h2 + p, h3 + p { margin-top: 1em; }
strong { font-weight: 700; }
em { font-style: italic; }
h2 a, h3 a,p a { color: #2254F4; text-decoration: underline; }
p, time, li, td, th, footer, div { font-weight: 300; }
p { margin-bottom: 1em; }
button, .button { border: 0px; font-size: 1em; background-color: #efefef; color: black; text-decoration: none!important; display: inline-block; padding: 0.5em 1em; cursor: pointer; vertical-align: top; line-height: 1.25em; }
a:hover, a:focus { text-decoration: underline; }
a:visited { color: inherit; }
header a { text-decoration: none; }
footer { width: 100%; padding: 1em; padding-bottom: 3em; }
footer h2 + p { margin-top: 1em; }
header a { line-height: 0; }
.msg { text-align:center; padding: 0.5em; }
#main { padding: 1em; }

.holder { position: relative; width: 1080px; max-width: 100%; margin: auto; }
button, .button { margin-top: 0.25em; border: 0px; font-size: 1em; background-color: #efefef; color: black; text-decoration: none!important; display: inline-block; padding: 0.5em 1em; cursor: pointer; }
a.button:hover, button:hover, button:focus, a.button:focus { background-color: #333333!important; color: #efefef!important; }
.b1-bg { background-color: #000000; color: white!important; }
.b2-bg { background-color: #333333; color: white!important; }
.bk-bg { background-color: #6D6D6D; color: white!important; }
.b3-bg, .github:hover { background-color: #999999; color: black!important; }
.b4-bg { background-color: #bbbbbb; color: black!important; }
.b5-bg, .off label { background-color: #dfdfdf; color: black!important; }
.b6-bg { background-color: #ffffff; color: black!important; }
.c1-bg, .elsewhere .facebook:hover, .c1-bg-hover:hover, .c1-bg:visited, .seasonal, .seasonal:visited, .seasonal:hover { background-color: #2254F4; color: white; }
.c2-bg, .c2-bg-hover:hover, .c2-bg:visited { background-color: #178CFF; color: black; }
.c3-bg, .elsewhere .twitter:hover, .c3-bg-hover:hover, .c3-bg:visited { background-color: #00B6FF; color: black; }
.c4-bg, .c4-bg-hover:hover, .c4-bg:visited, .seasonal-accent, .seasonal-accent:hover, .seasonal-accent:visited { background-color: #08DEF9; color: black; }
.c5-bg, .c5-bg-hover:hover, .c5-bg:visited { background-color: #1DD3A7; color: black; }
.c6-bg, .c6-bg-hover:hover, .c6-bg:visited { background-color: #0DBC37; color: black; }
.c7-bg, .c7-bg-hover:hover, .c7-bg:visited { background-color: #67E767; color: black; }
.c8-bg, .c8-bg-hover:hover, .c8-bg:visited { background-color: #722EA5; color: white; }
.c9-bg, .c9-bg-hover:hover, .c9-bg:visited, .instagram:hover { background-color: #E6007C; color: white; }
.c10-bg, .c10-bg-hover:hover, .c10-bg:visited, .flickr:hover { background-color: #EF3AAB; color: black; }
.c11-bg, .c11-bg-hover:hover, .c11-bg:visited { background-color: #D73058; color: white; }
.c12-bg, .c12-bg-hover:hover, .c12-bg:visited, .youtube:hover { background-color: #D60303; color: white; }
.c13-bg, .c13-bg-hover:hover, .c13-bg:visited { background-color: #FF6700; color: black; }
.c14-bg, .c14-bg-hover:hover, .c14-bg:visited { background-color: #F9BC26; color: black; }
.c12-bg, .on label { background-color: #D60303; color: white; }
.c12-bg:hover, .c12-bg:focus { background: #444; color: white; }
.padded { padding: 1em; }
.padded-bottom { margin-bottom: 1em; }
.doublepadded { padding: 2em; }


/* Use CSS Grid */
ul.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: minmax(100px, auto);
	grid-gap: 1em;
	list-style: none;
	order: 1;
	margin: 0px;
	padding: 0px;
}
ul.grid li.fullwidth { grid-column: auto / span 2; }
ul.grid li > a, figure { height: 100%; display: block; }
ul.grid li > a { text-decoration: none; }
ul.grid li > a h2 { margin-top: 0; }
ul.grid li > a p { margin-top: 1em; margin-bottom: 0; }
#logplot { display: block; font-size: 1em; position: relative; height: 500px; margin-bottom: 1em; }
svg svg { overflow: unset; }
svg .line { stroke: #999; }
svg .area { display:none; }
svg .active .line, svg .keep .line { stroke-width: 2.5px !important; opacity: 1!important; }
svg .active .area { display: block; }
#logplot time { position: absolute; top: 0px; right: 0px; font-size: 0.8em; }
figcaption { margin-bottom: 1em; margin-top: 0.5em; }
figcaption, .notes { font-size: 0.8em; color: #444; line-height: 1.4em; }
figcaption h2, figure h2, .notes h2 { margin-top: 0; margin-bottom: 0.5em; }
.notes p:last-child { margin-bottom: 0px; }
#timeline table { width: 100%; border-collapse: unset; }
#timeline table h3 { margin-top: 1em; }
#timeline table tr:hover { background: #ccc; }
#timeline table tr:hover td.c { opacity: 1; }
#timeline table td { border: 1px solid #dfdfdf; padding: 0 0.25em; }
#timeline table td.c { cursor: pointer; opacity: 0.9; }
#timeline table td:first-child { min-width: 100px; white-space: nowrap; }

.label {
	transform: translate3d(0,-50%,0);
	margin-left: -0.75em;
	padding: 0.25em 0.5em;
	font-weight: bold;
	line-height: 1.25em;
	text-shadow: 2px 2px 0 #dfdfdf, 2px -2px 0 #dfdfdf, -2px 2px 0 #dfdfdf, -2px -2px 0 #dfdfdf, 2px 0px 0 #dfdfdf, 0px 2px 0 #dfdfdf, -2px 0px 0 #dfdfdf, 0px -2px 0 #dfdfdf;
	font-size: 0.8em;
}


.switch { width: 5em; position: absolute; display: inline-block; right: 0em; }
.switch input { position: absolute; opacity: 0; z-index: 3; width: 100%; height: 100%; margin: 0px; cursor: pointer; }
.switch input:focus ~ span { box-shadow: 0 1px 1px #65727b, 0 0 1px #b6bdc2, 0 0 4px 2px #3366dd; }
.switch input:checked + span { background-color: #67E767; color: black; }
.switch input:checked + span a { left: 100%; border-color: #67E767; margin-left: -2em; right: 0%; }
.switch input:checked + span span:first-of-type { opacity: 0; }
.switch input:checked + span span:last-of-type { opacity: 1; }
.switch a { left: 0; top: 0; width: 2em; height: 2em; background-color: #fff; border-radius: 100%; border: 0.25em solid #cccccc; transition: all .2s ease-out; position: absolute; right: 50%; top: 0; z-index: 1; display: block; padding: 0; }
.switch > span { display: block; width: 100%; height: 2em; background-color: #cccccc; border-radius: 1.75em; transition: all .4s ease-out; position: relative; overflow: hidden; display: block; min-height: 2em; padding: 0; text-align: left; line-height: 2em; box-sizing: border-box; }
.switch > span span { text-align: center; display: block; position: absolute; top: 0; left: 0; width: 100%; opacity: 0; transition: all .2s ease-out; box-sizing: border-box; }
.switch > span span:last-of-type { padding-right: 2em; }
.switch > span span:first-of-type { opacity: 1; padding-left: 2em; color: black; }

#areas { position: relative; height: 3em; }
ul.toggles { position: relative; margin: 0px; padding-bottom: 0.75em; }
ul.toggles li { display: inline-block; line-height: 2em; padding-left: 0.5em; margin-right: 0.25em; margin-bottom: 0.25em; position: relative; }
ul.toggles li .close { float: right; margin-left: 0.5em; padding: 0 0.5em; background: rgba(0,0,0,0.5); color: white; text-decoration: none; }
ul.toggles label { cursor: pointer; }
ul.toggles .close { cursor: pointer; position: relative; }
ul.toggles .close input { opacity: 0; position: absolute; left: 0px; top: 0px; margin: 0; padding: 0; width: 100%; height: 100%; cursor: pointer; }
ul.toggles li .close:hover, ul.toggles li .close:focus { color: white; }
	
#search { position: absolute; display: block; width: 100%; max-width: 100%; z-index: 2; }
#search .search-inner { position: relative; }
#search .search-button {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 100;
	font-size: 1em;
	display: inline-block;
	padding: 1.13em;
	font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1;
	text-transform: uppercase;
	padding: 0.5em 1em;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 0.05em;
	line-height: 2em;
	width: 3em;
}
#search input {
	font-size: 1em;
	background: rgba(255,255,255,0.7) !important;
	border: solid 0.5em #D60303;
	border-radius: 0px;
	display: none;
	color: black;
	padding: 0 0.5em;
	height: 3em;
	width: 100%;
	position: relative;
	left: 0em;
	top: 0px;
	padding-left: 3em;
	z-index: 99;
}
#search svg { position: relative; top: 0.2em; }
#search.searching input { display: inline-block; }
.typeahead-results {
	width: 100%;
}
.typeahead-results ol {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.typeahead-results li > a {
	padding: 0.25em 0.5em;
	line-height: 2em;
	background: #efefef;
	text-decoration: none;
	display: block;
	color: inherit;
}
.typeahead-results li.selected > a {
	background-color: #444;
	color: white;
}



/* Hexmap Styles */	

#hexmap {
	margin: auto;
	max-width: 100%;
	position: relative;
	width: 100%; height: auto; max-width: 100vw;
}
#hexmap svg { max-width: 100%; height: auto; }
#hexmap select { font-size: 1em; height: 2em; margin-bottom: 1em; }
#hexmap .hex-grid { display: none; }
.hex-cell { fill-opacity: 1; transition: fill 0.2s ease-in, stroke 0.2s ease-in; }
.hex-label { }
.hex-cell.highlighted { stroke: black!important; stroke-width: 2px!important; }
.hex-cell.not-highlighted { opacity: 0.3!important; }
.hex-cell.hover { stroke: black!important; stroke-width: 5px!important; }
.hex-label.hover { fill: black!important; }
.hex-label.selected { }
.hex-cell.selected { stroke: black!important; stroke-width: 4px!important; stroke-opacity:1 }


button.on, button.on:hover { background-color: #D60303!important; color: white!important; }

.controls { margin-bottom: 1em; }
.controls label { padding: 1em; display: inline-block; line-height: 1em; cursor: pointer; }
.controls input { opacity: 0.01; padding: 0; margin: 0; position: absolute; top:0; left: 0; width: 100%; height: 100%; cursor: pointer;  }
.control { position: relative; display: inline-block;}

.infobubble {
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	overflow-y: auto; 
	text-align: center;
	background-color: #efefef;
	color: black;
}
.infobubble .infobubble_inner { margin: 1em; }
.infobubble.covid-19 { text-align: left; }
.infobubble a, .infobubble a:visited { color: inherit; }
.infobubble .popup-title { border-bottom:1px solid #333;margin:1em 0 0 0; display:block; font-weight: bold; font-size: 1.25em; line-height: 1.5em; font-family: Unit, Franklin Gothic Medium, Arial Bold, sans-serif;; }
.infobubble .popup-title + p { margin-top: 0.25em; }
.infobubble .close.button { position: absolute; right: 0px; top: 0px; background-color: transparent!important; color: inherit!important; font-size: 2em; padding: 12px 12px 6px 12px; line-height: 1em; margin: 0px; }
.infobubble .close.button:hover, .infobubble .close.button:focus { font-weight: bold; }
.infobubble .number, strong { font-weight: 700; }
.infobubble .small { font-weight: normal; font-size: 0.8em; }
.infobubble td { vertical-align: bottom; }
.infobubble ul {list-style: disc; margin-left: 1em; }
.popup-bio { display: flex; }
.infobubble table { margin-bottom: 0.5em; }
footer { color: #999; line-height: 1.25em; }
footer a, footer a:visited { color: inherit; }
.spinner { position: absolute; left: 50%; top: 50%; transform: translate3d(-50%,-50%,0); z-index: 1000; }
.spinner svg { width: 5em; margin: auto; }
#tooltip { background-color: black; color: white; padding: 0.325em 0.5em; transform: translate3d(-50%,0.5em,0); z-index: 100; position: absolute; z-index: 98; }
#tooltip:before { content: ""; border: 0.5em solid transparent; border-bottom: 0.5em solid black; border-top: 0px; left: 50%; top: 0; transform: translate3d(-50%,-0.5em,0); position: absolute; display: block; width: 0px; height: 0px; }
.infobubble #tooltip { display: flex; padding: 1em; max-width: 80%; width: 400px; z-index: 1001; }
.infobubble .results tr { cursor: pointer; }
#updated { position: absolute; right: 0px; top: 0px; text-align: right; }





@media only screen and (max-width: 1280px) {
	#hexmap text { display: none; }	
}
@media only screen and (max-width: 700px) {
	.infobubble {
		z-index: 1000;
		top: 0em;
		left: 0px;
		width: 100%;
		height: 100%;
		max-height: 100%;
		overflow-y: auto;
		transform: none;
		position: fixed;
		margin-right: 0px;
		transition: 0s;
	}
	.generalelection { max-width: 100%; }
	body.modal { overflow: hidden; }
}




@media only screen and (max-width: 1080px) {
	ul.grid { grid-template-columns: repeat(1, 1fr); }
	ul.grid li.fullwidth { grid-column: auto / span 1; }
	.doublepadded { padding: 1em; }
}